services:
  rclone:
    container_name: rclone-drive
    build: .
    ports:
      - "127.0.0.1:2049:2049"
    environment:
      - S3_ENDPOINT
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKET
    secrets:
      - crypt_password
    volumes:
      - rclone-cache:/root/.cache/rclone
    restart: unless-stopped

secrets:
  crypt_password:
    environment: CRYPT_PASSWORD

volumes:
  rclone-cache:
