services:
  rclone:
    container_name: rclone-drive
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - rclone-cache:/root/.cache/rclone
    restart: unless-stopped

volumes:
  rclone-cache:
